{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
           <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}
     <h1 style="text-indent:2em;text-align:left;">4.精液的产生
</h1>
<p style="text-indent:2em;text-align:left;">精液是这样生产的：
</p>
<p style="text-indent:2em;text-align:left;">· 在睾丸产生数百万的精子细胞。
</p>
<p style="text-indent:2em;text-align:left;">· 精子细胞成熟并存储在附睾中。
</p>
<p style="text-indent:2em;text-align:left;">· 当一个人射精时，精子细胞被推过精子管。
</p>
<p style="text-indent:2em;text-align:left;">· 精子细胞被转运到前列腺和精囊。将液体加入精子细胞中。液体和精子细胞一起构成精液。
</p>
<p style="text-indent:2em;text-align:left;">· 精液通过尿道被推出阴茎。
</p>
                 <img src="{% static "assets/img/sexedu/12_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人站。重点是勃起的阴茎。
</p>
                 <img src="{% static "assets/img/sexedu/12_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">从内侧看阴茎：1。睾丸，2。附睾，3。精子管，4。前列腺，5。精囊，6。尿道
</p>
<h1 style="text-indent:2em;text-align:left;">什么时候男人肥沃？
</h1>
<p style="text-indent:2em;text-align:left;">一个男人在青春期第一次产生精液。一般来说，一个男孩在12到15岁之间变得肥沃。然后他就可以生孩子了。即使他第一次进行性交。
</p>
<p style="text-indent:2em;text-align:left;">一个人一生都会产生精子细胞。他一生都可以生孩子。
</p>
<h1 style="text-indent:2em;text-align:left;">避孕：撤药和绝育
</h1>
<p style="text-indent:2em;text-align:left;">如果精子细胞在她肥沃的日子里通过阴道进入女性的子宫，女性只能怀孕。
</p>
<p style="text-indent:2em;text-align:left;">在他射精之前，男人可能已经失去了一些可能含有精子细胞的液体。在射精前撤回阴茎不是一种安全的避孕方法。
</p>
<p style="text-indent:2em;text-align:left;">经过绝育的男性会产生没有精子细胞的精液。他可以正常方式进行性交。</p>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>





    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>


{% endblock %}