<!DOCTYPE html>
<html >

<head>
    {% load staticfiles %}
    <link REL="SHORTCUT ICON" HREF="{% static "favicon.ico" %}"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
     {% load staticfiles %}

    <link href="{% static "assets/css/bootstrap.css"  %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->

    <link href="{% static "assets/css/font-awesome.css"  %}"  rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static "assets/js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static "assets/css/custom-styles.css"  %}"rel="stylesheet" />
    <!-- Google Fonts-->
  <style>
        .page{
            display: inline-block;
            padding: 5px;
            background-color: #4cae4c;
            margin: 5px;

        }
        .isactive{
            background-color: #5bc0de;

        }
        h1{
          font-size:25px;
            margin-top: 40px;
        }
    </style>


</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-mars"></i> <i class="fa fa-venus"></i><strong>性教育 </strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                         <li><a href="/login/"><i class="fa fa-user fa-fw"></i>登录</a>
                        </li>
                        <li><a href="/userinfor/"><i class="fa fa-user fa-fw"></i> 用户主页</a>
                        </li>
                         <li><a href="/register/"><i class="fa fa-user fa-fw"></i>注册</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse" >
                <ul class="nav" id="main-menu" >

                    <li>
                        <a  href="/"><i class="fa fa-search"></i> 搜索</a>
                    </li>
                    <li>
                        <a href="/videoeducation"><i class="fa fa-youtube-play"></i> 视频教育</a>
                    </li>
					<li>
                        <a href="/sent_article/"><i class="fa fa-pencil"></i>发表文章</a>
                    </li>
                    <li>
                        <a   class="active-menu" href="/twjx/"><i class="fa fa-picture-o"></i>图文教育</a>
                    </li>

                    <li>
                        <a href="table.html"><i class="fa fa-table"></i>栏目五</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> 栏目六 </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i>栏目七<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i>栏目九</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}

      <h1 style="text-indent:2em;text-align:left;">6.月经期
</h1>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">女人的卵细胞储存在卵巢中。每个月，成熟的卵细胞会离开其中一个卵巢。这叫做排卵。
</p>
<p style="text-indent:2em;text-align:left;">的输卵管输送卵细胞到子宫。女人的子宫准备怀孕：子宫内的粘膜长大，接受受精卵细胞。膜用作卵细胞的巢（植入）。
</p>
<p style="text-indent:2em;text-align:left;">如果卵细胞未受精，则该妇女未怀孕。粘膜和血液从子宫中流出。它们会通过阴道离开身体。这被称为月经期。
</p>
<p style="text-indent:2em;text-align:left;">月经期持续约3至7天。每个女人的长度不同。
</p>
<p style="text-indent:2em;text-align:left;">在月经期开始时，粘膜再次开始生长并开始新的循环。
</p>
<p style="text-indent:2em;text-align:left;">女性可以使用卫生棉条或卫生巾吸收月经期间的血液。
</p>
                <img src="{% static "assets/img/sexedu/6_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">女人站。重点是内部性器官。
</p>
                <img src="{% static "assets/img/sexedu/6_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">卵细胞储存在卵巢中。
</p>
                <img src="{% static "assets/img/sexedu/6_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">2.排卵：成熟的卵细胞离开卵巢。
</p>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">输卵管将卵细胞输送到子宫。子宫粘膜变厚。
</p>
                <img src="{% static "assets/img/sexedu/6_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">4.月经期：粘膜和血液离开阴道。
</p>
<h1 style="text-indent:2em;text-align:left;">第一次月经期
</h1>
<p style="text-indent:2em;text-align:left;">一个女人在青春期变得肥沃，一般在11到15岁之间。从那一刻起，她就可以生孩子了。一个女孩从第一次排卵时就可以生育，因此可以在她第一次月经前怀孕。如果卵细胞没有受精，她会第一次进行月经。即使她第一次发生性行为，她也会怀孕。
</p>
<p style="text-indent:2em;text-align:left;">更年期：月经期结束
</p>
<p style="text-indent:2em;text-align:left;">一名妇女在45至55岁之间停止月经。每名妇女的确切年龄不同。这称为更年期。那之后女人再也不能怀孕了。
</p>
<p style="text-indent:2em;text-align:left;">在更年期开始时，月经期是不规则的。过了一段时间，他们完全停止了。更年期可持续数月至数年。
</p>
<p style="text-indent:2em;text-align:left;">更年期改变了女性荷尔蒙的产生。有些女性可能会感到不适。例如：潮热，情绪波动，失眠，注意力不集中，头痛和疲劳。
</p>
<h1 style="text-indent:2em;text-align:left;">避孕
</h1>
<p style="text-indent:2em;text-align:left;">一些避孕方法可防止粘膜在子宫内生长或阻止卵细胞成熟（排卵）。在这种情况下，女人不会流血，或只会流血一点。
</p>
<h1 style="text-indent:2em;text-align:left;">性交
</h1>
<p style="text-indent:2em;text-align:left;">有些女性在月经期间想要性交，有些则不想。如果她愿意，女性可以在她的月经期间进行性交。它不会导致卫生问题。
</p>
<p style="text-indent:2em;text-align:left;">如果一个女人在她的肥沃时期和无保护的性行为，她可以在她的月经期间怀孕。如果您此刻不想生孩子，请使用避孕措施。</p>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>


	<script src="{% static "assets/js/easypiechart.js" %}"></script>
	<script src="{% static "assets/js/easypiechart-data.js" %}"></script>


    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>


</body>

</html>