{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}

     <h1 style="text-indent:2em;text-align:left;">7.切割女性生殖器
</h1>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官也被称为女性割礼。
</p>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官的方式可以不同：
</p>
<p style="text-indent:2em;text-align:left;">· 部分或完全去除阴蒂的可见部分（1型）;
</p>
<p style="text-indent:2em;text-align:left;">· 部分或完全去除阴蒂和阴唇（2型）;
</p>
<p style="text-indent:2em;text-align:left;">· 将阴唇缝合在一起，使尿液和血液只能通过一个小开口离开身体（3型）。
</p>
<p style="text-indent:2em;text-align:left;">· 对女性可见性器官的所有其他有害作用，如刺穿，刺穿，切割，刮擦和烧灼。
</p>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官是出于文化原因。
</p>
                <img src="{% static "assets/img/sexedu/7_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">躺下与她的腿传播的妇女。重点是可见的性器官。
</p>
                <img src="{% static "assets/img/sexedu/7_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">女性可见的性器官是：1。外阴唇，2。内阴唇，3。阴道开放，4.clitoris。尿道（5）和肛门（6）不是性器官的一部分。
</p>
                <img src="{% static "assets/img/sexedu/7_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官 - 1型：去除阴蒂。
</p>
                <img src="{% static "assets/img/sexedu/7_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官 - 2型：去除阴唇。
</p>
                <img src="{% static "assets/img/sexedu/7_5.png" %}"/>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官 - 3型：阴唇缝合在一起。
</p>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官对妇女和女孩的健康非常危险。他们中的一些人流血致死。它还可能导致：
</p>
<p style="text-indent:2em;text-align:left;">· 焦虑，压力，创伤，有时甚至是休克;
</p>
<p style="text-indent:2em;text-align:left;">· 感染和疾病 ;
</p>
<p style="text-indent:2em;text-align:left;">· 在月经期间和排尿时疼痛;
</p>
<p style="text-indent:2em;text-align:left;">· 高风险的性传播疾病和艾滋病病毒 ;
</p>
<p style="text-indent:2em;text-align:left;">· 母亲和孩子的痛苦和复杂的分娩 ;
</p>
<p style="text-indent:2em;text-align:left;">· 不孕症 ;
</p>
<p style="text-indent:2em;text-align:left;">· 痛苦的  性交  和较少的性欲。
</p>
<p style="text-indent:2em;text-align:left;">切割女性生殖器官在欧洲是非法的。这是法律所禁止的。</p>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>





    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>

{% endblock %}