<!DOCTYPE html>
<html >

<head>
    {% load staticfiles %}
    <link REL="SHORTCUT ICON" HREF="{% static "favicon.ico" %}"/>
    <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
     {% load staticfiles %}

    <link href="{% static "assets/css/bootstrap.css"  %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->

    <link href="{% static "assets/css/font-awesome.css"  %}"  rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static "assets/js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static "assets/css/custom-styles.css"  %}"rel="stylesheet" />
    <!-- Google Fonts-->
   <style>
        .page{
            display: inline-block;
            padding: 5px;
            background-color: #4cae4c;
            margin: 5px;

        }
        .isactive{
            background-color: #5bc0de;
        }
    </style>
     <script src="{% static "assets/js/jquery-1.11.3.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/clock/jscex.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/clock/jscex-parser.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/clock/jscex-jit.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/clock/jscex-builderbase.min.js" %}"></script>
     <script type="text/javascript" src="{% static "assets/js/clock/jscex-async.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/clock/jscex-async-powerpack.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/clock/functions.js"  %}" charset="utf-8"></script>








    <script type="text/javascript">
        //测试用的数据，这里可以用AJAX获取服务器数据
        var test_list = [""];
        var old_value = "";
        var highlightindex = -1;   //高亮
        //自动完成
        function AutoComplete(auto, search, mylist) {
            if ($("#" + search).val() != old_value || old_value == "") {
                var autoNode = $("#" + auto);   //缓存对象（弹出框）
                var carlist = new Array();
                var n = 0;
                old_value = $("#" + search).val();
                for (i in mylist) {
                    if (mylist[i].indexOf(old_value) >= 0) {
                        carlist[n++] = mylist[i];
                    }
                }
                if (carlist.length == 0) {
                    autoNode.hide();
                    return;
                }
                autoNode.empty();  //清空上次的记录
                for (i in carlist) {
                    var wordNode = carlist[i];   //弹出框里的每一条内容
                    var newDivNode = $("<div>").attr("id", i);    //设置每个节点的id值
                    newDivNode.attr("style", "font:14px/25px arial;height:25px;padding:0 8px;cursor: pointer;background-color: #FFFFFF;");
                    newDivNode.html(wordNode).appendTo(autoNode);  //追加到弹出框
                    //鼠标移入高亮，移开不高亮
                    newDivNode.mouseover(function () {
                        if (highlightindex != -1) {        //原来高亮的节点要取消高亮（是-1就不需要了）
                            autoNode.children("div").eq(highlightindex).css("background-color", "white");
                        }
                        //记录新的高亮节点索引
                        highlightindex = $(this).attr("id");
                        $(this).css("background-color", "#ebebeb");
                    });
                    newDivNode.mouseout(function () {
                        $(this).css("background-color", "white");
                    });
                    //鼠标点击文字上屏
                    newDivNode.click(function () {
                        //取出高亮节点的文本内容
                        var comText = autoNode.hide().children("div").eq(highlightindex).text();
                        highlightindex = -1;
                        //文本框中的内容变成高亮节点的内容
                        $("#" + search).val(comText);
                    })
                    if (carlist.length > 0) {    //如果返回值有内容就显示出来
                        autoNode.show();
                    } else {               //服务器端无内容返回 那么隐藏弹出框
                        autoNode.hide();
                        //弹出框隐藏的同时，高亮节点索引值也变成-1
                        highlightindex = -1;
                    }
                }
            }
            //点击页面隐藏自动补全提示框
            document.onclick = function (e) {
                var e = e ? e : window.event;
                var tar = e.srcElement || e.target;
                if (tar.id != search) {
                    if ($("#" + auto).is(":visible")) {
                        $("#" + auto).css("display", "none")
                    }
                }
            }
        }
        $(function () {
            old_value = $("#search_text").val();
            $("#search_text").focus(function () {
                if ($("#search_text").val() == "") {
                    AutoComplete("auto_div", "search_text", test_list);
                }
            });
            $("#search_text").keyup(function () {


                $.ajax({
             url:'/gettip/',
             type:'POST',
             data:{'key':$('#search_text').val()},
             success:function (data) {
                 var obj=JSON.parse(data);

                     if(obj.state){
                    //alert("评论成功");
                   // location.reload();
                         var rs=obj.result
                         test_list=rs.split("//")
                         //test_list[0]="aa";
                         //test_list[1]=rl;
                         if(test_list.length>10){
                             var ttlist=[];
                             for(i=0;i<10;i++){
                                 ttlist[i]=test_list[i];
                             }
                             AutoComplete("auto_div", "search_text", ttlist);
                         }else {
                              AutoComplete("auto_div", "search_text", test_list);
                         }


                 }
                 else {
                     alert("请求出错");
                 }

                 }





         });





































                //AutoComplete("auto_div", "search_text", test_list);
            });
        });
    </script>
























</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-mars"></i> <i class="fa fa-venus"></i><strong>性教育 </strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted" >
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                         <li><a href="/login/"><i class="fa fa-user fa-fw"></i>登录</a>
                        </li>
                        <li><a href="/userinfor/"><i class="fa fa-user fa-fw"></i> 用户主页</a>
                        </li>
                         <li><a href="/register/"><i class="fa fa-user fa-fw"></i>注册</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href="" ><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse" >
                <ul class="nav" id="main-menu" >

                    <li>
                        <a class="active-menu" href="/"><i class="fa fa-search"></i> 搜索</a>
                    </li>
                    <li>
                        <a href="/videoeducation"><i class="fa fa-youtube-play"></i> 视频教育</a>
                    </li>
					<li>
                        <a href="/sent_article/"><i class="fa fa-pencil"></i>发表文章</a>
                    </li>
                    <li>
                        <a    href="/twjx/"><i class="fa fa-picture-o"></i>图文教育</a>

                    </li>
                    
                    <li>
                        <a href="/zhifu/"><i class="fa fa-table"></i>关于我们</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit"></i> 栏目六 </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i>栏目七<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i>栏目九</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small>基于web2.0性教育系统</small>
                        </h1>
						<ol class="breadcrumb">
  <li class="active">首页</li>
  <li><a href="/sent_article">文章发表</a></li>
  <li><a href="/twjx">图文教育</a></li>
  <li><a href="/videoeducation">视频教育</a></li>

</ol>
                    </div>
                </div>

                            <div class="search">
                            <div class="row">





                                          <form action="/s/" action="GET">
                                             <div class="col-md-9 col-sm-9 col-xs-9">

                                            <input type="text" class="form-control" name="keyword" id="search_text" placeholder="输入关键词" autocomplete="off" >

                                             </div>
                                               <div class="col-md-1 col-sm-1 col-xs-1">
                                                     <!-- Buttons -->
                                                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                               </div>




                                       </form>
                                

                             </div>

                            <div class="row">
                               <div class="col-md-2">
                                <span> 热门搜索</span>

                               </div>
                               <div class="col-xs-3">
                                <a style="color: red; margin-left: 25px" href="/s?keyword=男生"><i style="margin-left: 35px" class="fa-li fa fa-spinner fa-spin"></i>男生</a>

                               </div>
                               <div class="col-xs-3">
                                <a style="color: red" href="/s?keyword=女生" style="margin-left: 20px"><i style="margin-left: 15px" class="fa-li fa fa-spinner fa-spin"></i>女生</a>

                               </div>
                               <div class="col-xs-3">
                                <a style="color: red" href="/s?keyword=性教育"><i style="margin-left: 15px" class="fa-li fa fa-spinner fa-spin"></i>性教育</a>

                               </div>
                            </div>
                

                                <div id="auto_div" style="border: 2px solid #FFFFFF;">
                                </div>
                            </div>

                            <br>
                            <br>
                            <br>

            <div class="row">

			  <div class="col-md-12">
			     <div class="panel panel-default">
				   <div class="panel-heading">
				      {{ num}}
				    </div>

							<div class="panel-body">
								{% for item in article %}
								<div class="alert alert-info">
									<strong></strong> <a href="/article/?id={{ item.article_id }}">{{ item.title}}</a>
								</div>
                                {% endfor %}

							</div>
                 </div>
			  </div>


            </div>
         <!-- 分页  -->
            <div class="pp">
                 {{ page_str | safe }}
                 </div>

              <div id="code" style="with:200px;height: 100px">
 <div id="clock-box"> <span class="STYLE1"></span><font color="#FF4500">我们的网站运行</font> <span class="STYLE1">已经是……</span>
      <div id="clock"></div>
    </div>

</div>





<script type="text/javascript">

 var textAnimate = eval(Jscex.compile("async", function () {
            var together = new Date();
            together.setFullYear(2018, 7,10); 			//时间年月日
            together.setHours(16);						//小时
            together.setMinutes(53);					//分钟
            together.setSeconds(0);					//秒前一位
            together.setMilliseconds(2);				//秒第二位

            $("#code").show().typewriter();
            $("#clock-box").fadeIn(500);
            while (true) {
                timeElapse(together);
                $await(Jscex.Async.sleep(1000));
            }
        }));


 var runAsync = eval(Jscex.compile("async", function () {

            textAnimate().start();

        }));

        runAsync().start();











</script>








            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}

    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	 
    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>

	
	

	
	
    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>




</body>

</html>