{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

         <div id="page-wrapper">
            <div id="page-inner">
           <h1 style="text-indent:2em;text-align:left;">1.女性的身体类型
</h1>
<p style="text-indent:2em;text-align:left;">每个女人的身体看起来都不一样。关于女性的身体应该是什么样子没有规定。身体可以有所不同，例如：
</p>
<p style="text-indent:2em;text-align:left;">· 肤色;
</p>
<p style="text-indent:2em;text-align:left;">· 一般形状;
</p>
<p style="text-indent:2em;text-align:left;">· 乳房 ;
</p>
<p style="text-indent:2em;text-align:left;">· 重量;
</p>
<p style="text-indent:2em;text-align:left;">· 高度;
</p>
<p style="text-indent:2em;text-align:left;">· 外阴 ;
</p>
<p style="text-indent:2em;text-align:left;">· 阴毛和体毛的数量和颜色。
</p>
                {% load staticfiles %}
    <img src="{% static "assets/img/sexedu/1_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">有些女性剃掉阴毛和体毛，有些则没有。这是一个选择。
</p>
<p style="text-indent:2em;text-align:left;">身体看起来的方式对它的运作方式并不重要。
</p>
<p style="text-indent:2em;text-align:left;"> </p>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}