<{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

 <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}

          <h1 style="text-indent:2em;text-align:left;">2.男人的可见性器官
</h1>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">男人的可见（外部）性器官是：
</p>
<p style="text-indent:2em;text-align:left;">· 阴茎;
</p>
<p style="text-indent:2em;text-align:left;">· 龟头;
</p>
<p style="text-indent:2em;text-align:left;">· 阴囊。
</p>
<p style="text-indent:2em;text-align:left;">龟头是阴茎敏感的尖端。该包皮围绕龟头包裹。您可以向前和向后移动包皮。有些人受过割礼。他们不再有包皮或包皮的一部分。
</p>
<p style="text-indent:2em;text-align:left;">在尿道口位于阴茎头。
</p>
                <img src="{% static "assets/img/sexedu/10_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人站。重点是可见的性器官。
</p>
                <img src="{% static "assets/img/sexedu/10_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人可见的性器官是：1。阴茎，2。龟头，3。阴囊。龟头周围：4。包皮，内侧：5。尿道。
</p>
                <img src="{% static "assets/img/sexedu/10_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人可见的性器官是：1。阴茎，2。龟头，3。阴囊。龟头周围：4。包皮，内侧：5。尿道。
</p>
<h1 style="text-indent:2em;text-align:left;">阴茎和阴囊
</h1>
<p style="text-indent:2em;text-align:left;">阴茎有两个功能：
</p>
<p style="text-indent:2em;text-align:left;">1. 当阴茎柔软时：尿液可以通过阴茎离开身体;
</p>
<p style="text-indent:2em;text-align:left;">2. 当阴茎坚硬（勃起）时：精液可以通过阴茎离开身体。
</p>
<p style="text-indent:2em;text-align:left;">精液和尿液不能同时离开阴茎。
</p>
<p style="text-indent:2em;text-align:left;">被唤醒的男人可以勃起。然后阴茎充满血液。男性在早晨醒来时经常会有硬阴茎。这并不意味着它们被激起了。
</p>
<p style="text-indent:2em;text-align:left;">在性交过程中，阴茎进入阴道（穿透）。
</p>
<p style="text-indent:2em;text-align:left;">阴囊含有睾丸。
</p>
                <img src="{% static "assets/img/sexedu/10_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">从内侧看到柔软的阴茎，显示尿液如何离开男性身体
</p>
                <img src="{% static "assets/img/sexedu/10_5.png" %}"/>
<p style="text-indent:2em;text-align:left;">2.从内部看到勃起的阴茎，显示精液如何离开男性身体
</p>
<h1 style="text-indent:2em;text-align:left;">阴茎的类型
</h1>
<p style="text-indent:2em;text-align:left;">阴茎的大小和形状可以变化。有些男人有一个大阴茎，有些男人有一个较小的阴茎。勃起阴茎的大小和松弛（柔软）的阴茎都可能因人而异。有些男人有弯曲的阴茎，有些则有直的阴茎。阴茎看起来的方式对于它的功能或良好的性别并不重要。
</p>
                <img src="{% static "assets/img/sexedu/10_6.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的阴茎：例1
</p>
                <img src="{% static "assets/img/sexedu/10_7.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的阴茎：例子2
</p>
                <img src="{% static "assets/img/sexedu/10_8.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的阴茎：例3
</p>
                <img src="{% static "assets/img/sexedu/10_9.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的阴茎：例4</p>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}