{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}


     <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}
<h1 style="text-indent:2em;text-align:left;">3.男生的内在性器官
</h1>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">该性器官一个人的身体内（内部性器官）是：
</p>
<p style="text-indent:2em;text-align:left;">· 睾丸;
</p>
<p style="text-indent:2em;text-align:left;">· 附睾;
</p>
<p style="text-indent:2em;text-align:left;">· 精子管;
</p>
<p style="text-indent:2em;text-align:left;">· 前列腺;
</p>
<p style="text-indent:2em;text-align:left;">· 精囊。
</p>
<p style="text-indent:2em;text-align:left;">一名男子腹部底部也有骨盆底肌肉。它们不是性器官，但对男性的性幸福和性快感很重要。
</p>
                 <img src="{% static "assets/img/sexedu/11_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人站。重点是内部性器官。
</p>
                 <img src="{% static "assets/img/sexedu/11_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人的内部性器官是：1。睾丸，2。附睾，3。精子管，4。前列腺，5。精囊。
</p>
<h1 style="text-indent:2em;text-align:left;">睾丸
</h1>
<p style="text-indent:2em;text-align:left;">一个男人有2个睾丸：其中一个睾丸可能比另一个小，并且稍微低一点。
</p>
<p style="text-indent:2em;text-align:left;">睾丸位于阴囊中。
</p>
<p style="text-indent:2em;text-align:left;">它们产生数百万个精子细胞。
</p>
<h1 style="text-indent:2em;text-align:left;">附睾
</h1>
<p style="text-indent:2em;text-align:left;">一个男人有2个附睾。
</p>
<p style="text-indent:2em;text-align:left;">每个都连接到一个睾丸。
</p>
<p style="text-indent:2em;text-align:left;">精子细胞保留在睾丸中。他们也可以在那里进一步发展。
</p>
<h1 style="text-indent:2em;text-align:left;">精子管
</h1>
<p style="text-indent:2em;text-align:left;">一个男人有2个精子管。
</p>
<p style="text-indent:2em;text-align:left;">每一个都连接到一个附睾。
</p>
<p style="text-indent:2em;text-align:left;">他们将精子细胞运送到前列腺。
</p>
<h1 style="text-indent:2em;text-align:left;">前列腺
</h1>
<p style="text-indent:2em;text-align:left;">前列腺位于膀胱下方。这是草莓的大小。
</p>
<p style="text-indent:2em;text-align:left;">将流体添加到前列腺中的精子细胞中。液体和精子细胞一起构成精液。在射精期间，前列腺收缩并推出精液。膀胱的入口也同时收缩。这可以防止精液进入膀胱并阻止尿液泄漏到精液中。
</p>
<h1 style="text-indent:2em;text-align:left;">精囊
</h1>
<p style="text-indent:2em;text-align:left;">一个人有2个精囊。他们躺在前列腺旁边。它们为精子细胞增加了更多的液体。</p>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>

{% endblock %}