{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

     <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}
   <h3 style="text-indent:2em;text-align:left;">5.割礼
</h3>
<p style="text-indent:2em;text-align:left;">包皮环切术是一种从阴茎完全或部分切除包皮的小手术。
</p>
<p style="text-indent:2em;text-align:left;">包皮环切后，龟头的皮肤变得有点粗。有时龟头的颜色会变暗一些。
</p>
                 <img src="{% static "assets/img/sexedu/13_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人站。重点是可见的性器官。
</p>
                 <img src="{% static "assets/img/sexedu/13_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">拿着他的包皮的人在他的手指之间。
</p>
                 <img src="{% static "assets/img/sexedu/13_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">阴茎包皮：未经包皮环切
</p>
                 <img src="{% static "assets/img/sexedu/13_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">没有包皮的阴茎：包皮环切
</p>
<h1 style="text-indent:2em;text-align:left;">包皮环切的原因
</h1>
<p style="text-indent:2em;text-align:left;">包皮环切可以有几个原因：
</p>
<p style="text-indent:2em;text-align:left;">· 包皮太紧，不能拉回来。小便，勃起或性交往往是痛苦的;
</p>
<p style="text-indent:2em;text-align:left;">· 出于宗教原因;
</p>
<p style="text-indent:2em;text-align:left;">· 对于卫生 ;
</p>
<p style="text-indent:2em;text-align:left;">· 在一些非洲国家，割礼用于预防艾滋病毒。在欧洲，不推荐包皮环切术作为预防艾滋病毒的保护措施。
</p>
<p style="text-indent:2em;text-align:left;">有些女性也被裁掉了。因为这对女性有害，所以称为切割女性生殖器官。</p>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}