{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

       <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}
       <h1 style="text-indent:2em;text-align:left;">3.女性内在的性器官
</h1>
<p style="text-indent:2em;text-align:left;">该性器官女人的身体内部（内部性器官）是：
</p>
<p style="text-indent:2em;text-align:left;">· 阴道;
</p>
<p style="text-indent:2em;text-align:left;">· 宫颈;
</p>
<p style="text-indent:2em;text-align:left;">· 子宫;
</p>
<p style="text-indent:2em;text-align:left;">· 输卵管;
</p>
<p style="text-indent:2em;text-align:left;">· 卵巢。
</p>
<p style="text-indent:2em;text-align:left;">一名女性的腹部底部也有盆底肌肉。它们不是性器官，但对女性的性幸福和性快感很重要。
</p>
                <img src="{% static "assets/img/sexedu/3_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">女人站。重点是内部性器官。
</p>
                <img src="{% static "assets/img/sexedu/3_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">女性的内部性器官是：1。阴道，2。子宫颈，3。子宫，4。输卵管，5。卵巢。
</p>
<h1 style="text-indent:2em;text-align:left;">阴道
</h1>
<p style="text-indent:2em;text-align:left;">阴道是从身体外部通向子宫入口（子宫颈）的管状通道。它大约10厘米深。
</p>
<p style="text-indent:2em;text-align:left;">阴道具有彼此靠近的弹性壁。墙壁可以收紧（使开口更小）或放松。
</p>
<p style="text-indent:2em;text-align:left;">在她的月经期间，一名妇女通过她的阴道流血。
</p>
<p style="text-indent:2em;text-align:left;">在阴道的入口处是处女膜，一块柔软的组织边缘。
</p>
<p style="text-indent:2em;text-align:left;">在性交过程中，阴茎进入阴道（穿透）。
</p>
<p style="text-indent:2em;text-align:left;">婴儿在自然分娩过程中通过阴道出生。
</p>
<h1 style="text-indent:2em;text-align:left;">宫颈
</h1>
<p style="text-indent:2em;text-align:left;">子宫颈是从阴道通向子宫的通道。
</p>
<p style="text-indent:2em;text-align:left;">子宫颈通常是闭合的并且在分娩期间打开。
</p>
<p style="text-indent:2em;text-align:left;">子宫
</p>
<p style="text-indent:2em;text-align:left;">子宫的大小和形状是颠倒的梨。
</p>
<p style="text-indent:2em;text-align:left;">子宫在怀孕期间与婴儿一起生长。分娩后，子宫恢复正常大小。
</p>
<h1 style="text-indent:2em;text-align:left;">输卵管
</h1>
<p style="text-indent:2em;text-align:left;">一名妇女有2个输卵管，子宫两侧各有一个。
</p>
<p style="text-indent:2em;text-align:left;">输卵管从卵巢到子宫需要卵细胞。
</p>
<h1 style="text-indent:2em;text-align:left;">卵巢
</h1>
<p style="text-indent:2em;text-align:left;">一个女人有2个卵巢。每个卵巢连接到输卵管。
</p>
<p style="text-indent:2em;text-align:left;">卵巢储存一个女人的卵细胞。当她出生时，她已经拥有了所有的卵细胞。
</p>
<p style="text-indent:2em;text-align:left;">卵巢是草莓的大小。
</p>
<p style="text-indent:2em;text-align:left;">卵巢是女性荷尔蒙的重要生产者。这些激素影响皮肤和骨骼，并告诉身体如何准备怀孕。在更年期期间，缺乏这些激素会引起情绪波动和潮热。</p>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}