{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

     <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}

              <h1 style="text-indent:2em;text-align:left;">5.处女膜
</h1>
<p style="text-indent:2em;text-align:left;">处女膜是阴道内的一小块柔软的组织边缘，靠近入口。处女膜从未完全关闭。它总是有一个小的或更大的开口。即使是从未有过性接触的女孩。
</p>
                <img src="{% static "assets/img/sexedu/5_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">躺下与她的腿传播的妇女。重点是可见的性器官。
</p>
                <img src="{% static "assets/img/sexedu/5_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">处女膜的细节在阴道里面的
</p>
<h1 style="text-indent:2em;text-align:left;">处女膜的类型
</h1>
<p style="text-indent:2em;text-align:left;">每个处女膜的形状和大小都不同：
</p>
<p style="text-indent:2em;text-align:left;">· 皮肤可以很薄或很厚。
</p>
<p style="text-indent:2em;text-align:left;">· 处女膜可以是光滑的，凹凸不平的或皱纹的。
</p>
<p style="text-indent:2em;text-align:left;">· 它可以很窄或很宽。
</p>
                <img src="{% static "assets/img/sexedu/5_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的处女膜：处女膜开口狭窄
</p>
                <img src="{% static "assets/img/sexedu/5_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的处女膜：具有中等开口的处女膜
</p>
                <img src="{% static "assets/img/sexedu/5_5.png" %}"/>
<p style="text-indent:2em;text-align:left;">不同的处女膜：具有大开口的处女膜
</p>
<h1 style="text-indent:2em;text-align:left;">第一次做爱
</h1>
<p style="text-indent:2em;text-align:left;">当女性第一次性交时，处女膜可能会拉伸或撕裂，但这并不总是发生。处女膜已经被拉伸或撕裂，即使这个女人还是处女。处女膜无法证明女性是否是处女。
</p>
<p style="text-indent:2em;text-align:left;">当处女膜伸展或撕裂时，这会伤害一点点。但是，大多数女性都没有注意到它。当处女膜撕裂时，有些女性会失去一些血迹。大多数女性不会失血。</p>





            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}