{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

      <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}

      <h3 style="text-indent:2em;text-align:left;">6.月经期
</h3>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">女人的卵细胞储存在卵巢中。每个月，成熟的卵细胞会离开其中一个卵巢。这叫做排卵。
</p>
<p style="text-indent:2em;text-align:left;">的输卵管输送卵细胞到子宫。女人的子宫准备怀孕：子宫内的粘膜长大，接受受精卵细胞。膜用作卵细胞的巢（植入）。
</p>
<p style="text-indent:2em;text-align:left;">如果卵细胞未受精，则该妇女未怀孕。粘膜和血液从子宫中流出。它们会通过阴道离开身体。这被称为月经期。
</p>
<p style="text-indent:2em;text-align:left;">月经期持续约3至7天。每个女人的长度不同。
</p>
<p style="text-indent:2em;text-align:left;">在月经期开始时，粘膜再次开始生长并开始新的循环。
</p>
<p style="text-indent:2em;text-align:left;">女性可以使用卫生棉条或卫生巾吸收月经期间的血液。
</p>
                <img src="{% static "assets/img/sexedu/6_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">女人站。重点是内部性器官。
</p>
                <img src="{% static "assets/img/sexedu/6_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">卵细胞储存在卵巢中。
</p>
                <img src="{% static "assets/img/sexedu/6_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">2.排卵：成熟的卵细胞离开卵巢。
</p>
<p style="text-indent:2em;text-align:left;">
</p>
<p style="text-indent:2em;text-align:left;">输卵管将卵细胞输送到子宫。子宫粘膜变厚。
</p>
                <img src="{% static "assets/img/sexedu/6_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">4.月经期：粘膜和血液离开阴道。
</p>
<h1 style="text-indent:2em;text-align:left;">第一次月经期
</h1>
<p style="text-indent:2em;text-align:left;">一个女人在青春期变得肥沃，一般在11到15岁之间。从那一刻起，她就可以生孩子了。一个女孩从第一次排卵时就可以生育，因此可以在她第一次月经前怀孕。如果卵细胞没有受精，她会第一次进行月经。即使她第一次发生性行为，她也会怀孕。
</p>
<p style="text-indent:2em;text-align:left;">更年期：月经期结束
</p>
<p style="text-indent:2em;text-align:left;">一名妇女在45至55岁之间停止月经。每名妇女的确切年龄不同。这称为更年期。那之后女人再也不能怀孕了。
</p>
<p style="text-indent:2em;text-align:left;">在更年期开始时，月经期是不规则的。过了一段时间，他们完全停止了。更年期可持续数月至数年。
</p>
<p style="text-indent:2em;text-align:left;">更年期改变了女性荷尔蒙的产生。有些女性可能会感到不适。例如：潮热，情绪波动，失眠，注意力不集中，头痛和疲劳。
</p>
<h1 style="text-indent:2em;text-align:left;">避孕
</h1>
<p style="text-indent:2em;text-align:left;">一些避孕方法可防止粘膜在子宫内生长或阻止卵细胞成熟（排卵）。在这种情况下，女人不会流血，或只会流血一点。
</p>
<h1 style="text-indent:2em;text-align:left;">性交
</h1>
<p style="text-indent:2em;text-align:left;">有些女性在月经期间想要性交，有些则不想。如果她愿意，女性可以在她的月经期间进行性交。它不会导致卫生问题。
</p>
<p style="text-indent:2em;text-align:left;">如果一个女人在她的肥沃时期和无保护的性行为，她可以在她的月经期间怀孕。如果您此刻不想生孩子，请使用避孕措施。</p>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}