{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}

   <div id="page-wrapper">
            <div id="page-inner">
 {% load staticfiles %}
<h1 style="text-indent:2em;text-align:left;">8.骨盆底肌肉
</h1>
<p style="text-indent:2em;text-align:left;">骨盆底肌肉是腹部底部的肌肉。男性和女性都有骨盆底肌肉。
</p>
<p style="text-indent:2em;text-align:left;">骨盆底肌肉有3个功能：
</p>
<p style="text-indent:2em;text-align:left;">1. 他们将膀胱，肠（女性和男性）和子宫（女性）保持在正确的位置。
</p>
<p style="text-indent:2em;text-align:left;">2. 它们可以防止尿液和粪便无意中离开身体。
</p>
<p style="text-indent:2em;text-align:left;">3. 它们对性快感和性健康很重要。
</p>
<p style="text-indent:2em;text-align:left;">骨盆底肌肉很容易训练。
</p>
<h1 style="text-indent:2em;text-align:left;">妇女
</h1>
<p style="text-indent:2em;text-align:left;">如果女性焦虑或紧张，她可能会在性交过程中不情愿地收缩骨盆底肌肉。该阴道会变得过于紧张和渗透变得困难或不可能。试着找出导致肌肉收缩的原因。与伴侣谈论可以提供帮助。
</p>
<p style="text-indent:2em;text-align:left;">如果一个女人在她的收缩盆底肌肉性高潮，她可以增加快感，她感觉。
</p>
<p style="text-indent:2em;text-align:left;">在怀孕期间，女性的骨盆底肌肉伸展。后交货，肌肉需要锻炼才能恢复。向健康专家咨询。
</p>
                <img src="{% static "assets/img/sexedu/8_1.png" %}"/>
<p style="text-indent:2em;text-align:left;">女人站。重点是骨盆。
</p>
                <img src="{% static "assets/img/sexedu/8_2.png" %}"/>
<p style="text-indent:2em;text-align:left;">女性骨盆的细节：1。盆底肌肉支撑2.膀胱，3。肠和4.子宫。
</p>
<h2 style="text-indent:2em;text-align:left;">男人
</h2>
<p style="text-indent:2em;text-align:left;">骨盆底肌肉帮助男性勃起并保持勃起。
</p>
                <img src="{% static "assets/img/sexedu/8_3.png" %}"/>
<p style="text-indent:2em;text-align:left;">男人站。重点是骨盆。
</p>
                <img src="{% static "assets/img/sexedu/8_4.png" %}"/>
<p style="text-indent:2em;text-align:left;">男性骨盆的细节：1。盆底肌肉支撑2.膀胱和3.肠。</p>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


{% endblock %}