{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">

                  <div class="row">
                      <div class="col-md-4  col-md-offset-5" ><p style="font-size:30px; ">管理员登录</p></div>
                  </div>
                  <form action="/managerlogin/" method="POST">
                  <div class="row">
                      <div class="col-md-4  col-md-offset-5" style="margin-top: 30px">
                      账号<input  class="form-control" type="text" name="username" placeholder="请输入账号" value="{{ msg.username }}">
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-md-4 col-md-offset-5" style="margin-top: 30px">
                      密码<input  class="form-control" type="password" name="password" placeholder="请输入密码" value="{{ msg.password }}">
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-md-2 col-md-offset-5" style="margin-top: 30px">
                      <input  class="form-control" type="submit" value="登录" ><span>{{ error }}</span>
                      </div>
                  </div>
                  </form>




            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>




    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>


{% endblock %}