{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
<!-- /. NAV SIDE  -->

 <style>
 .bj{
     display: none;
 }

 </style>
        <div id="page-wrapper " style="width: 130%;">
            <div id="page-inner">



      <h2>男生的身体</h2>
                <br>
                <br>



       <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">

       <div class="ui hidden divider"></div>
                <div class="ui grid" style="width: 90%" >



                    <div class="five wide column">
        <div class="ui card">
            <a class="image" href="/9.html/">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{% static "assets/img/sexedu/manbody.png" %}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
{#                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>#}
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">男生的身体类型</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-mars" style="color: blue" ></i>
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>2019-02-17</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于：http://www.zanzu.de</div>
            </div>
        </div>
    </div>




                    <div class="five wide column">
        <div class="ui card">
            <a class="image" href="/10.html/">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{% static "assets/img/sexedu/manvisible.png" %}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
{#                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>#}
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">男生的外生殖器官</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-mars" style="color: blue"></i>
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>2019-02-17</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于：http://www.zanzu.de</div>
            </div>
        </div>
    </div>




                    <div class="five wide column">
        <div class="ui card">
            <a class="image" href="/11.html/">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{% static "assets/img/sexedu/manvisible.png" %}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
{#                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>#}
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">男生的内生殖器官</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-mars" style="color: blue" ></i>
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>2019-02-17</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于：http://www.zanzu.de</div>
            </div>
        </div>
    </div>




                    <div class="five wide column">
        <div class="ui card">
            <a class="image" href="/12.html/">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{% static "assets/img/sexedu/zj.png" %}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
{#                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>#}
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">精液的产生</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-mars" style="color: blue"></i>
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>2019-02-17</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于：http://www.zanzu.de</div>
            </div>
        </div>
    </div>




                    <div class="five wide column">
        <div class="ui card">
            <a class="image" href="/13.html/">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{% static "assets/img/sexedu/mangl.png" %}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
{#                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>#}
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">割礼</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-mars" style="color: blue" ></i>
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>2019-02-17</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于：http://www.zanzu.de</div>
            </div>
        </div>
    </div>



























                </div>





















            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}







{% endblock %}