{% extends 'mheaderbar.html' %}
{% load staticfiles %} {% block m_content %}



    <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">

                <div class="row">
                     <div class="col-xs-4">
                         <p >{{ user.nickname }}</p>
                     </div>
                    <div class="col-xs-4">
                          <button name="reply" type="button" class="btn btn-primary" data-toggle="modal">留言</button>
                        <a href="/sendto?id={{ user.id }}">留言</a>
                    </div>
                     <div class="col-xs-4">

                                 {% if user.id in followId_list %}
                                    <button name="focus" id="cancel" type="button" class="btn btn-primary"
                                            value="{{ user.id }}">
                                        取消关注
                                    </button> {% else %}
                                    <button name="focus" id="ok" type="button" class="btn btn-primary"
                                            value="{{ user.id }}">
                                        关注
                                    </button> {% endif %}
                     </div>



                </div>

               <div class="row">

			  <div class="col-xs-12">
			     <div class="panel panel-default">
				      <div class="panel-heading">
                       <img id="avatar-img" src="{{ imgurl }}" style=" border-radius:100%;" width="80px" height="80px">
				      {{ user.nickname }}&nbsp;&nbsp;
                      <span style="{{ csssex }}"><i class="{{ sex }}"></i></span> <br>
                       <span>简介：{{ user.desc }}</span>
                       <br><div class="row">
                              <div class="col-xs-4">
                                  <button class="btn btn-primary articlebtn">他的文章</button>
                              </div>
                              <div class="col-xs-4">
                                  <button class="btn btn-primary followingbtn">他的关注</button>
                              </div>
                          <div class="col-xs-4">
                                  <button class="btn btn-primary followeebtn" >关注他的</button>
                              </div>
                          </div>
				    </div>

							<div class="panel-body">
                               <div class="myarticle ">
								{% for item in myarticle %}
								<div class="alert alert-info">
									<strong></strong> <a href="/article/?id={{ item.article_id }}">{{ item.title}}</a>
								</div>
                                {% endfor %}
                                </div>
                               <div class="myfollower hide">
                                  {%  for u in followeelist  %}
                                     <div class="alert alert-info">
									<strong></strong> <a href="/user/?user_id={{ u.id }}">{{ u.nickname }}</a>
								</div>
                                   {% endfor %}
                               </div>

                               <div class="myfollowee hide">
                                  {%  for u in followerlist  %}
                                     <div class="alert alert-info">
									<strong></strong> <a href="/user/?user_id={{ u.id }}">{{ u.nickname }}</a>
								</div>
                                   {% endfor %}
                               </div>




							</div>
                 </div>
			  </div>


            </div>



        <div class="modal fade" id="leave_message" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="messsage_to">私信</h4>
            </div>
            <div class="modal-body" id="privateMessageBody">
                <form>
                    <div class="form-group">
                        <label  class="control-label">内容:</label>
                        <textarea id="message_text" class="form-control" rows="3" placeholder="和TA说点什么吧！"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="sendTo" class="btn btn-primary">发送</button>
            </div>
        </div>
    </div>
</div>











            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}





    <!-- Custom Js -->




<script>
        $(document).ready(function () {
            $('button[name="focus"]').click(function () {
                var focusObject = $(this);
                $.ajax({
                    url: '/follow/',
                    type: 'POST',
                    dataType: 'text',
                    data: {
                        'follower_id':{{ me.id }},
                        'followee_id': focusObject.val(),
                        'follow_tip': focusObject.attr('id')
                    },
                    success: function (data) {
                        if (data == 'canceled') {
                            focusObject.html('关注');
                            focusObject.attr('id', 'ok')
                        }
                        else if (data == 'focused') {
                            focusObject.html("取消关注");
                            focusObject.attr('id', 'cancel')
                        }
                    },
                    error: function () {
                        alert('出现错误!');
                    }
                });
            });
        });

</script>

<script>
    var myfollowing=0;
    var myarticle=1;
    var myfollowee=0;
    $(".followingbtn").click( function () {
        if(myfollowing==0){
            $(".myfollower").removeClass("hide")
             myfollowing=1
            $(".myarticle").addClass("hide")
            myarticle=0
             $(".myfollowee").addClass("hide")
            myfollowee=0
        }


    })

    $(".articlebtn").click( function () {
        if(myarticle==0){
            $(".myfollower").addClass("hide")
             myfollowing=0
            $(".myarticle").removeClass("hide")
            myarticle=1
            $(".myfollowee").addClass("hide")
            myfollowee=0
        }


    })

     $(".followeebtn").click( function () {
        if(myfollowee==0){
            $(".myfollowee").removeClass("hide")
             myfollowee=1
            $(".myarticle").addClass("hide")
            myarticle=0
             $(".myfollower").addClass("hide")
             myfollowing=0
        }


    })



</script>


<script>
        $(document).ready(function () {
            var to_user_id;
            var from_user_id;
            var who;
            $('button[name="reply"]').click(function () {
                //to_user_id = $(this).attr('userId');
                 //who = $(this).attr('who');
                //from_user_id = $(this).attr('clientId');
                $('#messsage_to').html('回复给: ' + '{{ user.nickname }}');
                $('#leave_message').modal();
            });
            $('#sendTo').click(function () {
                $.ajax({
                    url: '/sendto/',
                    type: 'POST',
                    dataType: 'text',
                    data: {

                        'content': $('#message_text').val(),
                        'to_id': {{  user.id }}
                    },
                    success: function (data) {
                          var obj=JSON.parse(data);
                        if(!(obj.islogin)){
                            alert('你没有登录');
                             window.location.href="/login";
                        }
                        if (obj.state) {

                            $('#leave_message').modal('hide')
                        }

                    },
                    error: function () {
                        alert('出现错误!');
                    }
                });
            });
        });


    </script>















{% endblock %}