{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


       <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small>基于web2.0性教育系统</small>
                        </h1>
						<ol class="breadcrumb">
  <li><a href="/">文章发表</a></li>
  <li><a href="/sent_article">文章发表</a></li>
  <li class="active"><a href="/twjx">图文教育</a></li>
  <li><a href="/videoeducation">视频教育</a></li>

</ol>
                    </div>
                </div>





                 <style>
.box{width:70%; text-align:center; font-szie:18px; border-radius: 4px}
.box img {width:100%;}
.row {margin-top: 40px}
</style>


      <h2>图文教育</h2>
                <br>
                <br>
       <div class="row">
           <div class="col-md-4  ">
               <div class="box">

              <a   href="/twjx/manbody/">
                   <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                  <img class="img-circle" src="{% static "assets/img/sexedu/manbody.png" %}"/>
                   </div>男生</a>
                   </div>
               </div>

           <div class="col-md-4  ">
               <div class="box">

                  <a href="/twjx/womanbody/">
                      <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                      <img class="img-circle" src="{% static "assets/img/sexedu/womanbody.png" %}"/>
                      </div>女生</a>

               </div>
           </div>
       </div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>




    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>


{% endblock %}
