{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
        <br>
            <div id="page-inner">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small>基于web2.0性教育系统</small>
                        </h1>
						<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/sent_article">文章发表</a></li>
  <li><a href="/twjx">图文教育</a></li>
  <li class="active">视频教育</li>

</ol>
                    </div>
                </div>



			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small>视频教育</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->

			<div class="row">

			  <div class="col-md-12">
			     <div class="panel panel-default">
				   <div class="panel-heading">
				      视频
				    </div>
							  
							<div class="panel-body"> 
								{% for video in video_list %}
								<div class="alert alert-info">
									<strong></strong> <a href="/video/?id={{ video.video_id }}">{{ video.title}}</a>
								</div>
                                {% endfor %}

							</div>
                 </div>
			  </div>

									
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js"  %}"></script>
      <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js"  %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js"  %}"></script>
      <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js"  %}"></script>





{% endblock %}
