<!DOCTYPE html>
<html lang="zh">
<head>
     {% load staticfiles %}
    <meta charset="UTF-8">
    <title>基于web2.0性教育系统</title>

     <link href="{% static "mainpage/weixin.sogou.com_mainpage.css"  %}" rel="stylesheet" />
     <link href="{% static "assets/css/bootstrap.css"  %}" rel="stylesheet" />
     <link href="{% static "assets/css/font-awesome.css"  %}"  rel="stylesheet" />
    <script src="{% static "assets/js/jquery-3.1.1.min.js" %}"></script>
    <style>
        .top_toolbars a{
            color: #6A89C0;
        }


    </style>

    <script type="text/javascript">
        //测试用的数据，这里可以用AJAX获取服务器数据
        var test_list = [""];
        var old_value = "";
        var highlightindex = -1;   //高亮
        //自动完成
        function AutoComplete(auto, search, mylist) {
            if ($("#" + search).val() != old_value || old_value == "") {
                var autoNode = $("#" + auto);   //缓存对象（弹出框）
                var carlist = new Array();
                var n = 0;
                old_value = $("#" + search).val();
                for (i in mylist) {
                    if (mylist[i].indexOf(old_value) >= 0) {
                        carlist[n++] = mylist[i];
                    }
                }
                if (carlist.length == 0) {
                    autoNode.hide();
                    return;
                }
                autoNode.empty();  //清空上次的记录
                for (i in carlist) {
                    var wordNode = carlist[i];   //弹出框里的每一条内容
                    var newDivNode = $("<div>").attr("id", i);    //设置每个节点的id值
                    newDivNode.attr("style", "font:14px/25px arial;height:25px;padding:0 8px;cursor: pointer;background-color: #FFFFFF;");
                    newDivNode.html(wordNode).appendTo(autoNode);  //追加到弹出框
                    //鼠标移入高亮，移开不高亮
                    newDivNode.mouseover(function () {
                        if (highlightindex != -1) {        //原来高亮的节点要取消高亮（是-1就不需要了）
                            autoNode.children("div").eq(highlightindex).css("background-color", "white");
                        }
                        //记录新的高亮节点索引
                        highlightindex = $(this).attr("id");
                        $(this).css("background-color", "#ebebeb");
                    });
                    newDivNode.mouseout(function () {
                        $(this).css("background-color", "white");
                    });
                    //鼠标点击文字上屏
                    newDivNode.click(function () {
                        //取出高亮节点的文本内容
                        var comText = autoNode.hide().children("div").eq(highlightindex).text();
                        highlightindex = -1;
                        //文本框中的内容变成高亮节点的内容
                        $("#" + search).val(comText);
                    })
                    if (carlist.length > 0) {    //如果返回值有内容就显示出来
                        autoNode.show();
                    } else {               //服务器端无内容返回 那么隐藏弹出框
                        autoNode.hide();
                        //弹出框隐藏的同时，高亮节点索引值也变成-1
                        highlightindex = -1;
                    }
                }
            }
            //点击页面隐藏自动补全提示框
            document.onclick = function (e) {
                var e = e ? e : window.event;
                var tar = e.srcElement || e.target;
                if (tar.id != search) {
                    if ($("#" + auto).is(":visible")) {
                        $("#" + auto).css("display", "none")
                    }
                }
            }
        }
        $(function () {
            old_value = $("#search_text").val();
            $("#search_text").focus(function () {
                if ($("#search_text").val() == "") {
                    AutoComplete("auto_div", "search_text", test_list);
                }
            });
            $("#search_text").keyup(function () {


                $.ajax({
             url:'/gettip/',
             type:'POST',
             data:{'key':$('#search_text').val()},
             success:function (data) {
                 var obj=JSON.parse(data);

                     if(obj.state){
                    //alert("评论成功");
                   // location.reload();
                         var rs=obj.result
                         test_list=rs.split("//")
                         //test_list[0]="aa";
                         //test_list[1]=rl;
                         if(test_list.length>10){
                             var ttlist=[];
                             for(i=0;i<10;i++){
                                 ttlist[i]=test_list[i];
                             }
                             AutoComplete("auto_div", "search_text", ttlist);
                         }else {
                              AutoComplete("auto_div", "search_text", test_list);
                         }


                 }
                 else {
                     alert("请求出错");
                 }

                 }





         });





































                //AutoComplete("auto_div", "search_text", test_list);
            });
        });
    </script>




</head>
<body>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                <div class="row">
                      <div class="col-xs-8  col-xs-offset-1" ><p style="font-size:30px; ">用户登录</p></div>
                  </div>
            </div>

           <div id="">

               <div >
                   <div class="modal-body">


                  <div class="row">
                      <div class="col-xs-8  col-xs-offset-1" style="margin-top: 30px">
                      账号<input  class="form-control" type="text" id="username" placeholder="请输入账号" >
                      </div>
                  </div>
                   <div class="row">
                      <div class="col-xs-8 col-xs-offset-1" style="margin-top: 30px">
                      密码<input  class="form-control" type="password" id="password" placeholder="请输入密码" >
                      </div>
                  </div>

                         <div class="row">
                      <div class="col-xs-8 col-xs-offset-1" style="margin-top: 30px">
                     <div class="input">
   <input id="t1"  style="line-height:unset" type="text" name="u" placeholder="验证码" onblur="but()" />
   <span id="discode"></span>
   <input type="button" value="换一换" class="c" style="height:20px;"onClick="createCode()">
   </div>
                      </div>
                  </div>



                   </div>
                   <div class="modal-footer">
                   <div class="row">
                      <div class="col-xs-6 col-xs-offset-2" style="margin-top: 30px">
                      <input class="btn btn-primary subt"  value="登录" ><span class="errorspan"></span>
                      </div>
                       <div class="col-xs-1" style="margin-top: 30px">
                         <input class="btn btn-primary "  value="注册" onclick="location.href='/register/'"></span>

                       </div>

                  </div>


                   </div>
                  </div>




                </div>



                </div>

         </div>

<script language="javascript">
var couldlogin=0;
var code; //在全局 定义验证码
function createCode()
{ //创建验证码函数
 code = "";
 var codeLength =4;//验证码的长度
 var selectChar = new Array(0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i','j','k',
  'l','m','n','o','p','q','r','s','t','u','v','w','x','y','z');//所有候选组成验证码的字符，当然也可以用中文的
 for(var i=0;i<codeLength;i++)
 {
 var charIndex =Math.floor(Math.random()*36);
 code +=selectChar[charIndex];
 }
// 设置验证码的显示样式，并显示
 document.getElementById("discode").style.fontFamily="Fixedsys"; //设置字体
 document.getElementById("discode").style.letterSpacing="5px"; //字体间距
 document.getElementById("discode").style.color="#0ab000"; //字体颜色
 document.getElementById("discode").innerHTML=code; // 显示
}
function but()
{//验证验证码输入是否正确
 var val1=document.getElementById("t1").value;
 var val2=code;
 if(val1!=val2){

  couldlogin=0;
 document.getElementById('t1').value="";
  }else{
  	couldlogin=1;

  }
 }


 createCode()
</script>


































               <script>
                   $('.subt').click(function () {
                       if(couldlogin==0){
                           alert("验证码错误");
                       }else {

                             $.ajax({
             url:'/login/',
             type:'POST',
             data:{'username':$('#username').val(),'password':$("#password").val()},
             success:function (data) {
                 //alert(data);
                 var obj=JSON.parse(data);
                 if(obj.message=="登录成功"){
                      $('.errorspan').html(obj.message)

                    //alert("登录成功");
                    location.reload();
                 }
                 else {
                    $('.errorspan').html(obj.message)

                 }




                 }


         })
                  }
                   });


               </script>



           </div>
































































{#    <div class="top_toolbars">#}
{#        <ul >#}
{#               <li>#}
{#                    <a href="/">首页</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/readarticle">家长</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/videolist">小盆友</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/twjx">青少年</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/sent_article">我要说话</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="/sendmessage/">给管理员留言</a>#}
{#                </li>#}
{##}
{##}
{#        </ul>#}
{#        </div>#}
{#  <div id="login_con" style="margin-right: 240px">#}
{#        <a href="/exit">退出登录</a>#}
{#    </div>#}
{#   <div id="login_con" style="margin-right: 160px">#}
{#        <a href="/userinfor/">用户主页</a>#}
{#    </div>#}
{##}
{#    <div id="login_con" style="margin-right: 70px">#}
{#        <a href="/mymessage">我的消息</a>#}
{#    </div>#}
{#    <div id="login_img" style="position: absolute;right:10px;top: -10px">#}
{#        {{ loginstr |safe}}#}
{#    </div>#}


<div>
<style>

.navbar .navbar-nav>li>a{
    color: #FFFFFF;
}

     .notshowinfor{
            display: none;
        }
</style>
    <nav class="navbar navbar-default" style="background-color:#009ac5">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  style="color:white" class="navbar-brand " href="/">首页</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div   class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a style="color:white;font-size:18px;" href="/jz">家长<span class="sr-only">(current)</span></a></li>
           <li><a style="color:white;font-size:18px;" href="/twjx">青少年</a></li>
           <li><a style="color:white;font-size:18px;" href="/videolist">儿童</a></li>
           <li><a style="color:white;font-size:18px;" href="/sent_article">讨论区</a></li>
           <li><a style="color:white;font-size:18px;" href="/sendmessage">关于我们</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <span  class="notuse">{{ loginstr |safe}}</span>

        <li class="dropdown notshowinfor uu">
          <a style="padding: 0px 0px" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ loginstr |safe}}<span style="color: blue;z-index:999;width:12px;position: absolute;left: 18px; top: 52px;" class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/userinfor">我的主页</a></li>
            <li><a href="/mymessage">我的消息</a></li>

            <li role="separator" class="divider"></li>
            <li><a href="/exit">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
    if($('.logintip').attr('id')=="01"){
        $('.notuse').addClass("notshowinfor");
    }else {
        $('.uu').css("display","none");
        $("#00").css("margin-top","9px");
    }
    /*
    if($('.logintip').attr('id')=="00"){
        $('.notuse').addClass("notshowinfor");
    }
    */
</script>




</div>














    <div class="middle_bar" style="top:15px">
        <div class="middle_bar_content">
            <div class="logo" >
               <img class="logo_img"   src="{% static "mainpage/logo.png" %}"    style="height: 50px;width: 140px"/>
            </div>
            <form action="/s/" action="GET">
                <div id="input_con">
                    <input type="text"  name="keyword" id="search_text" placeholder="输入关键词" autocomplete="off"    />
                    <input type="submit" id="search_bt" style="background-color: #FF4E85" value="搜文章" />

                </div>

            </form>
                <div style="margin-left: 20%;z-index: 99">
     <div id="auto_div" style="z-index: 99;position: absolute;align:left;width:451px;border: 2px solid #FFFFFF;">
                                </div>
     </div>
        </div>


    </div>

<style>
    .navbar{
        margin-bottom:0px;
    }
</style>



























    <div class="wrapper" style="z-index: 1">
        <div class="main_left">
            <div class="tap_box">
                <div class="tap">
                     <a style="color: #0f0f0f" href="/videolist">视频教育</a>


                </div>

            </div>
             <br>
             <div >
                  <span>视频分类:</span>
                   <a style="margin-right: 15px;margin-left: 3px" href="/videolist?tp=7&p=1">一分钟性教育</a>
                    <a style="margin-right: 15px"  href="/videolist?tp=3&p=1">青春期</a>
                    <a  style="margin-right: 20px" href="/videolist?tp=2&p=1">健康的关系</a>
                    <a style="margin-right: 20px"  href="/videolist?tp=4&p=1">人身安全</a>
                    <a style="margin-right: 20px"  href="/videolist?tp=5&p=1">性病与艾滋病</a>
                     <a href="/videolist?tp=6&p=1">性取向</a>
                   <a style="margin-left: 12px" href="/videolist?tp=1&p=1">怀孕和生育</a>
                </div>
                <div>


                </div>


            <div class="news_box">
                <ul class="news_list">
                          <li>

                        <div class="txt_box">


                        </div>
                        <div class="txt_info_more">
                            <a href="#">您是第{{ usercount }}位访问的用户</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
                    </li>

                </ul>
                     <div class="row" style="width: 150%;z-index: 999;margin-top: 45px">

                      <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">

    <div class="ui hidden divider"></div>
<div class="ui grid">
   {% for video in videolist %}
   <div class="four wide column">
        <div class="ui card">
            <a class="image" href="/videoplay?id={{ video.id}}">
{#                {% thumbnail item.cover "300x200" crop="center" as im %}#}
                <img  style="width: 100%;height: 130px"  class="ui image" src="{{ video.imgurl }}">
{#                {% empty %}#}
{#                {% endthumbnail %}#}
                <i style="    position: absolute;left: 1.0rem;bottom: 1.0rem;color: #0285c8;" class="large play icon v-play-icon"></i>
            </a>
            <div class="content">
                <div>
                    <span style="font-weight: bold">{{ video.vname }}</span>
                </div>
{#                <a class="header" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>#}
                <div class="meta">
                              </div>
                <div class="description">
{#                    {{ item.view_count}}#}

                 <i class="fa fa-youtube-play"></i>  {{ video.seenum }}次
                    <span style="float: right" class="date"><i class="fa fa-clock-o"></i>{{ video.publictime }}</span>

                </div>
{#                <div>{{ video.desc }}</div>#}
                <div><i class="fa fa-user fa-fw"></i>爬取于{{ video.vsource }}</div>
            </div>
        </div>
    </div>
   {% endfor %}





{#    {% empty %}#}

{#    {% endfor %}#}
</div>





{#   <script src="https://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>#}
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>

                     </div>


                          <!-- 分页  -->
                    <div class="pp">
                       {{ page_str | safe }}
                   </div>
           <hr>

            </div>
        </div>

    </div>

</body>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
</html>









