{% extends 'headerbar.html' %}
{% load staticfiles %} {% block main_content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                             <small>基于web2.0性教育系统</small>
                        </h1>
						<ol class="breadcrumb">
  <li><a href="/">文章发表</a></li>
  <li><a href="/sent_article">文章发表</a></li>
  <li class="active"><a href="/twjx">图文教育</a></li>
  <li><a href="/videoeducation">视频教育</a></li>

</ol>
                    </div>
                </div>
















       <h2>女生的身体</h2>
                <br>
                <br>
                <style>
.box{width:70%; text-align:center; font-szie:18px;}
.box img {width:100%;}
.row {margin-top: 40px}
</style>
       <div class="row">
           <div class="col-md-4  ">
               <div class="box"  >
              <a href="/1.html/">
                   <div   style="background-color:#22CCFE;border-radius: 80px">
                  <img width="60%" height="60%"  style="border-radius: 40px ;margin: 10px 10px 10px 10px" src="{% static "assets/img/sexedu/womantype.png" %}"/>
                   </div></a>
                   <div><a href="/1.html/">女性的身体类型</a> </div>
                       </div>
               </div>

           <div class="col-md-4  ">
               <div class="box">
                      <a href="/2.html/">
                          <div class="container-fluid" style="background-color:#22CCFE;border-radius: 10px">
                          <img class="img-circle" src="{% static "assets/img/sexedu/womanvisible.png" %}"/>
                          </div>女生的外生殖器官</a>
               </div>
           </div>
       </div>
                <div class="row">
           <div class="col-md-4  ">
                <div class="box">
                       <a href="/3.html/">
                            <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                           <img class="img-circle" src="{% static "assets/img/sexedu/womaninternal.png" %}"/>
                            </div>女生的内生殖器官</a>
                </div>
           </div>
           <div class="col-md-4  ">
               <div class="box">
                    <a href="/4.html/">
                        <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                        <img class="img-circle" src="{% static "assets/img/sexedu/womanbreasts.png" %}"/>
                        </div>乳房</a>
               </div>
           </div>
       </div>

                <div class="row">
           <div class="col-md-4  ">
               <div class="box">
                     <a href="/5.html/">
                         <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                         <img class="img-circle" src="{% static "assets/img/sexedu/hymen.png" %}"/>
                         </div>处女膜</a>
               </div>
           </div>
           <div class="col-md-4  ">
              <div class="box">
                  <a href="/6.html/">
                      <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                      <img  class="img-circle" src="{% static "assets/img/sexedu/menstrual_period.png" %}"/>
                      </div>月经期</a>
               </div>
           </div>
       </div>


             <div class="row">
           <div class="col-md-4  ">
               <div class="box">
                     <a href="/7.html/">
                         <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                         <img class="img-circle" src="{% static "assets/img/sexedu/womangl.png" %}"/>
                         </div>割礼</a>
               </div>
           </div>
           <div class="col-md-4  ">
              <div class="box">
                  <a class="img-circle" href="/8.html/">
                      <div class="container-fluid" style="background-color:#22CCFE;border-radius: 4px">
                      <img class="img-circle" src="{% static "assets/img/sexedu/womanbody.png" %}"/>
                      </div>骨盆底肌肉</a>
               </div>
           </div>
       </div>






            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static "assets/js/jquery.metisMenu.js" %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static "assets/js/morris/raphael-2.1.0.min.js" %}"></script>
    <script src="{% static "assets/js/morris/morris.js" %}"></script>





    <!-- Custom Js -->
    <script src="{% static "assets/js/custom-scripts.js" %}"></script>


{% endblock %}